<!DOCTYPE html>
<html>
	<head>
		<title>{{ pageTitle }}</title>
		<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/static/css/style.css">
	</head>

	<body>

		<center><img src="/static/img/logo.png"></center>

		<div class="info">
			<div class="half">
				<h2>A new, cleaner, simpler Web View</h2>
			</div>
			<div class="half-r">
				<p>Have you ever stumbled upon an article, but skipped because the layout of the website sucked? Or made it difficult for you to read the text?</p>
				<p>We want to solve this problem by providing a platform which loads the same readable content from the website or blog, and displays it in a much cleaner, simpler, and readable format. Without all the unnecessary stuff.</p>
				<p>All you need to do is add reedme.in just before the url of the website in your address bar and bam!</p>
			</div>
		</div>

		<div class="clear"></div>
		<div class="divider"></div>
		<div class="info tut">
			
			<h3>All you need to do is, open the article in your favorite browser.</h3>
			<h4>lifehacker.com/top-10-ways-to-beat-a-bad-mo....</h4>
			<h3>And add reedme.in in the address bar, just before the URL</h3>
			<h4><span class="red">reedme.in/</span>lifehacker.com/top-10-ways-to-beat-a-bad-mo....</h4>

		</div>

		<div class="clear"></div>
		<div class="divider"></div>

		<div class="info">
			
			<center><h2>Take a Sneak Peak : <a href="/lifehacker.com/this-weeks-most-popular-posts-march-14th-to-21st-1548731748">Read this on reedme</a></h2></center>

		</div>

		<div class="clear"></div>
		
		<div class="footer">
			&copy; reedme 2013.<br>
			By <a target="_blank" href="http://twitter.com/Abhishek_Biswal">Abhishek Biswal</a> &amp; <a target="_blank" href="http://twitter.com/adityar03">Aditya Ravindran</a>.
		</div>

	</body>

</html>