<html>
	<head>
		<title>{{ web['title'] }}</title>
		<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>
		<!-- <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Libre+Baskerville:400,700/Open+Sans:400,700"> -->
		<link rel="stylesheet" href="/static/css/read.css">
		<script src="/static/js/cssrefresh.js"></script>
	</head>
	<body>

		<h2 class="domain-name"><a href="{{ web['url'] }}">{{ web['domain'] }}</a></h2>
		<h1>{{ web['title'] }}</h1>
		<h4 class="info">{{ web['word_count'] }} words | <a href="{{ web['url'] }}">Permalink</a></h4>

		<div class="content">{{ web['content']|safe }}</div>
		
	</body>
</html>